body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 15px;
  background: #111;
  color: #e50914;
}

.page {
  display: none;
  padding: 10px;
}

.page.active {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.bottom-nav button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}

video {
  width: 100%;
  margin-top: 10px;
}
